
.meta {
  height: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.authorImage {
  position: relative;
  height: 100px;
  width: 100px;
}

.byline {
  flex-grow: 1;
  margin: auto 1rem;
}


.meta img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

