:root {
  --color-primary: #84b9f5;
  --color-secondary: #16875d;
  --color-tertiary: #84b9f5;
  --color-foreground: #283848;
  --color-background: #ffffff;
  --color-muted: #666666;

  --grid-unit: 0.5rem;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --font-family-heading: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --font-family-code: Consolas, Monaco, "Andale Mono", "Ubuntu Mono",
    monospace;

  --global-transition-time: 0.2s;

  --wrapper-max-width: 48rem;

  --header-nav-item-active-color: #b7ded0;
  --footer-copyright-color: #b7ded0;
  --external-url-background-color: #b7ded0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.cardTitle {
  font-size: 2rem;
  margin-bottom: 6px;
}

.contentContainer {
  max-width: 1060px;
  margin: 0 auto;
}